/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .container {
        width: 1100px;
    }
 }

 /* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .container {
        width: 900px;
    }
 }

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .container {
        width: 700px;
    }
    .menu .list{
        display: none;
    }
    .menu .download-btn{
        margin-left:auto;
    }
    .banner .banner-img {
        display: none;
    }
    .banner .banner-text {
        width: 100%;
        padding-bottom: 14px;
    }
    .about .image-area {
        width: 100%;
        order: 2;
        margin-top: 50px;
    }
    .about .text-area {
        width: 100%;
        order: 1;
        padding-left: 0;
    }
    .services .services-content .services-item {
        width: calc(50% - 15px);
    }
    .portfolio .gallery-container .gallery-item{
        width: calc((100% / 3) - (60px / 4));
    }
    .Technologies .Technologies-itms ul li {
        width: calc((100% / 4) - (120px / 4));
    }
}
/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .container {
        width: 500px;
    }
    .services .container {
        justify-content: space-around;
    }
    .services .services-content {
        justify-content: space-around;
    }
    .services .services-content .services-item {
        width: 100%;
        max-width: 300px;
    }
    .portfolio .gallery-container .gallery-item{
        width: calc((100% / 2) - (40px / 4));
    }
    .Technologies .Technologies-itms ul li {
        width: calc((100% / 3) - (90px / 3));
    }
 }

 /* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .portfolio .gallery-container .gallery-item{
        width: 100%
    }
    .Technologies .Technologies-itms ul li {
        width: calc((100% / 2) - (40px / 2));
    }
 }
 @media (max-width: 375.98px) {
    .container {
        width: 90%;
        padding: 0 10px;
    }
 }